<div class="row">
    <div class="col">
        <h1>Owned games</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <div *ngIf="userDetails?.games?.length == 0">
            <h2>No games bought yet</h2>
        </div>
        <a *ngFor="let game of userDetails?.games" [routerLink]="['/games/', game._id]">
            <div class="card text-white bg-dark">
                <img [src]="game?.banner" alt="banner" class="card-img-top" *ngIf="game?.banner">
                <img src="assets/images/game.jpg" alt="banner" class="card-img-top" *ngIf="!game?.banner">
              <div class="card-body text-center">
                <h5 class="card-title">{{game.name}}</h5>
              </div>
            </div>
        </a>
    </div>
</div>
