.carousel-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.card {
    max-width: 20rem;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 5rem;
}

.card-body {
    padding: 0;
    padding-top: 10px;
    background-color: rgba(65, 65, 65, 0.089);
}

.card:hover {
    display: relative;
    bottom: 5px;
    box-shadow: 2px 8px 21px -2px rgba(0, 0, 0, 0.75);
}

.gamecontainer {
    padding: 0 10rem 0 10rem;
}

.filtercontainer {
    margin:  0 10rem 2rem 10rem;
}

.searchbutton {
    max-width: 200px;
    border-radius: 15px;
    border: red 2px solid;
    background-color: transparent;
    color: white;
    display: inline-block;
}

#category {
    max-width: 200px;
}
