<div class="row pb-5">
    <div class="col">
      <app-alert></app-alert>
      <ngb-carousel *ngIf="images" [interval]="5000" [pauseOnHover]="pauseOnHover">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="carousel-img" [src]="images[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="carousel-img" [src]="images[1]" alt="Random second slide">
          </div>
          <div class="carousel-caption">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="carousel-img" [src]="images[2]" alt="Random third slide">
          </div>
          <div class="carousel-caption">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
</div>

<div class="row">
  <div class="col filtercontainer">
    <div class="row">
      <div class="col">
        <h3>Info</h3>
        <p>
          This app is running in <strong>'{{ runningMode }}'</strong> mode. <br />
          Environment API URL: <strong>'{{ apiUrl }}'</strong>.<br />
          Version: <strong>{{ version }}</strong>
        </p>
      </div>
      <div class="col">

        <div class="d-inline-block mr-5">
          <label class="font-weight-bold" for="categoryToggle">Category<span class="text-danger"></span></label>
          <select class="form-control d-inline" id="categoryToggle" (change)="onCategoryChange($event)">
            <option value="all">All</option>
            <option *ngFor="let category of gameCategories" [value]="category">{{category}}</option>
          </select>
        </div>
        <input type="text" class="form-control searchbutton d-inline-block" placeholder="Search..." (keyup)="onSearch($event)">
      </div>
    </div>
  </div>
</div>

<!-- recommended Games -->

<div class="row" *ngIf="currentuser">
  <div class="col gamecontainer">
    <label class="font-weight-bold" for="showRecommended">Enable recommendations:</label>
    <input class="ml-2" type="checkbox" id="showRecommended" (change)="onShowRecommendations($event)">
    <div class="recommendations d-none">
      <h1>Recommended games</h1>
      <h3 *ngIf="recommended && recommended.length <= 0" class="text-danger">No recommendations yet</h3>
      <app-spinner *ngIf="!recommended"></app-spinner>
      <a *ngFor="let rec of recommended" [routerLink]="['/games', rec._id]" class="listItem">
        <div class="card text-white bg-dark">
          <img [src]="rec?.banner" alt="banner" class="card-img-top" *ngIf="rec?.banner">
          <img src="assets/images/game.jpg" alt="banner" class="card-img-top" *ngIf="!rec?.banner">
          <div class="card-body text-center">
            <h5 class="card-title">{{rec.name}}</h5>
            <p class="d-none gameCategory">{{rec.category}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- Games -->
<div class="row">
  <div class="col gamecontainer">
    <h1>All Games</h1>
    <app-spinner *ngIf="!games"></app-spinner>
    <div *ngIf="games?.length == 0" class="text-center">
      <h2>No games available</h2>
    </div>
    <a *ngFor="let game of games" [routerLink]="['/games', game._id]" class="listItem">
      <div class="card text-white bg-dark">
        <img [src]="game?.banner" alt="banner" class="card-img-top" *ngIf="game?.banner">
        <img src="assets/images/game.jpg" alt="banner" class="card-img-top" *ngIf="!game?.banner">
        <div class="card-body text-center">
          <h5 class="card-title">{{game.name}}</h5>
          <p class="d-none gameCategory">{{game.category}}</p>
        </div>
      </div>
    </a>

  </div>
</div>


  
