<div class="row mb-5">
    <div class="col text-center">
        <h1>{{title}}</h1>
    </div>
</div>

<div class="row formBox">
    <div class="col">
        <p><span class="text-danger">* </span>required</p>
        <form [formGroup]='articleForm' (ngSubmit)="onSubmit()" class="d-inline">

            <!-- title -->
            <div class="form-group">
                <label class="font-weight-bold" for="title">Title<span class="text-danger">*</span></label>
                <div *ngIf="f.title?.invalid && (f.title?.dirty || submitted)" class="alert alert-danger">
                    <div *ngIf="f.title?.errors?.['required']">
                        Title is required.
                    </div>
                </div>
                <input class="form-control" type="text" placeholder="Title" id="title" formControlName="title">
            </div>

            <!-- subtitle -->
            <div class="form-group">
                <label class="font-weight-bold" for="subtitle">Subtitle<span class="text-danger">*</span></label>
                <div *ngIf="f.subtitle?.invalid && (f.subtitle?.dirty || submitted)" class="alert alert-danger">
                    <div *ngIf="f.subtitle?.errors?.['required']">
                        Subtitle is required.
                    </div>
                </div>
                <input class="form-control" type="text" placeholder="Subtitle" id="subtitle" formControlName="subtitle">
            </div>

            <!-- content -->
            <div class="form-group">
                <label class="font-weight-bold" for="content">Content<span class="text-danger">*</span></label>
                <div *ngIf="f.content?.invalid && (f.content?.dirty || submitted)" class="alert alert-danger">
                    <div *ngIf="f.content?.errors?.['required']">
                        Content is required.
                    </div>
                </div>
                <textarea class="form-control" placeholder="Content" id="content" cols="30" rows="10" formControlName="content"></textarea>
            </div>

            <!-- banner -->
            <div class="form-group">
                <label class="font-weight-bold" for="banner">Banner (card picture) URL</label>
                <div>
                    <i>Tip: it's recommended to add a banner (<a href="https://wall.alphacoders.com/by_category.php?id=32&name=Video+Game+Wallpapers" target="_blank">wallpapers</a>)</i>
                </div>
                <input class="form-control" type="text" placeholder="Url, recommended 1920x1080" id="banner" formControlName="banner">
            </div>

            <!-- category -->
            <div class="form-group">
                <label class="font-weight-bold" for="category">Category<span class="text-danger">*</span></label>
                <div *ngIf="f.category?.invalid && (f.category?.dirty || submitted)" class="alert alert-danger">
                    <div *ngIf="f.category?.errors?.['required']">
                        Category is required.
                    </div>
                </div>

                <select class="form-control" id="category" formControlName="category">
                    <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                </select>
            </div>


            <button class="red-btn mt-5 p-1" type="submit">Save</button>

        </form>
        <div class="d-inline float-right mt-5">
            <button id="removeBtn" *ngIf="article" class="red-btn mr-5 p-1" (click)="onDelete()">Remove</button>
            <button routerLink=".." class="red-inverse-btn text-dark p-1">Back</button>
        </div>
    </div>
</div>
