<div class="row mb-5">
    <div class="col text-center">
        <h1>Login</h1>
    </div>
</div>
<div class="loginBox">
    <p><span class="text-danger">* </span>required</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="font-weight-bold" for="email">E-mail<span class="text-danger">*</span></label>
            <div *ngIf="f.email?.invalid && (f.email?.dirty || submitted)" class="alert alert-danger" id="emailerror">
                <div *ngIf="f.email?.errors?.['required']">Email is required.</div>
                <div *ngIf="f.email?.errors?.['pattern']">
                    Email is invalid.
                </div>
            </div>
            <input class="form-control" type="email" placeholder="example@email.com" id="email" formControlName="email">
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="password">Password<span class="text-danger">*</span></label>
            <div *ngIf="f.password?.invalid && (f.password?.dirty || submitted)" class="alert alert-danger">
                <div *ngIf="f.password?.errors?.['required']">Password is required.</div>
            </div>
            <input class="form-control" type="password" placeholder="Password" id="password" formControlName="password">
        </div>

        <div class="form-group">
            <app-alert></app-alert>
        </div>

        <div class="text-center mt-5">
            <button id="loginBtn" class="red-btn" type="submit">Login</button>
            <a class="custom-anchor" routerLink="/register">CREATE ACCOUNT</a>
        </div>
    </form>
</div>