<div class="row mb-5">
    <div class="col text-center">
        <h1>Register</h1>
    </div>
</div>

<div class="loginBox">
    <p><span class="text-danger">* </span>required</p>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <!-- Name -->
        <div class="form-group">
            <label class="font-weight-bold" for="username">Username<span class="text-danger">*</span></label>
            <div *ngIf="f.username?.invalid && (f.username?.dirty || submitted)" class="alert alert-danger">
                <div *ngIf="f.username?.errors?.['required']">
                    Username is required.
                </div>
            </div>
            <input class="form-control" type="text" placeholder="Username" id="username" formControlName="username">
        </div>

        <!-- Email -->
        <div class="form-group">
            <label class="font-weight-bold" for="email">E-mail<span class="text-danger">*</span></label>
            <div *ngIf="f.email?.invalid && (f.email?.dirty || submitted)" class="alert alert-danger">
                <div *ngIf="f.email?.errors?.['required']">
                    Email is required.
                </div>
                <div *ngIf="f.email?.errors?.['pattern']">
                    Email is invalid.
                </div>
                <div *ngIf="f.email?.errors?.['alreadyExist']">
                    Email already exist.
                </div>
            </div>
            <input class="form-control" type="email" placeholder="example@email.com" id="email" formControlName="email">
        </div>

        <!-- Birthdate -->

        <div class="form-group">
            <label class="font-weight-bold" for="birthdate">Birthdate</label>
            <div *ngIf="f.birthdate?.invalid && (f.birthdate?.dirty || submitted)" class="alert alert-danger">
                <div *ngIf="f.birthdate?.errors?.['required']">
                    Birthdate is required.
                </div>
                <div *ngIf="f.birthdate?.errors?.['futureDate']">
                    Birthdate has to be in the past.
                </div>
            </div>
            <input class="form-control" type="date" id="birthdate" formControlName="birthdate">
        </div>

        <!-- Role -->
        <div class="form-group">
            <label class="font-weight-bold" for="role">Role<span class="text-danger">*</span></label>
            <div *ngIf="f.role?.invalid && (f.role?.dirty || submitted)" class="alert alert-danger">
                <div *ngIf="f.role?.errors?.['required']">
                    Role is required.
                </div>
            </div>
            <select class="form-control" id="role" formControlName="role">
                <option *ngFor="let role of roles" [value]="role" [selected]="role === 'customer'">{{role}}</option>
            </select>
        </div>

        <!-- Profile picture -->
        <div class="form-group">
            <label class="font-weight-bold" for="profilePicture">Profile picture (URL)</label>
            <div>
              <i>Info: check <a href="https://randomavatar.com/" target="_blank">randomavatar.com</a> to grab an avatar url.</i>  
            </div>
            <input class="form-control" type="url" placeholder="Online picture url" id="profilePicture" formControlName="profilePicture">
        </div>
        
        <!-- password -->
        <div class="form-group">
            <label class="font-weight-bold" for="password">Password<span class="text-danger">*</span></label>
            <div *ngIf="f.password?.invalid && (f.password?.dirty || submitted)" class="alert alert-danger">
                <div *ngIf="f.password?.errors?.['required']">Password is required.</div>
                <div *ngIf="f.password?.errors?.minlength">Password must be at least 7 characters.</div>
            </div>
            <input class="form-control" type="password" id="password" formControlName="password" placeholder="Minimum 7 characters">
        </div>

        <div class="form-group">
            <label class="font-weight-bold" for="confirmPassword">Confirm Password<span class="text-danger">*</span></label>
            <div *ngIf="f.confirmPassword?.invalid && (f.confirmPassword?.dirty || submitted)" class="alert alert-danger">
                <div *ngIf="f.confirmPassword?.errors?.['required']">Confirm password is required.</div>
                <div *ngIf="f.confirmPassword?.errors?.incorrectConfirm">Password must match.</div>
                <div *ngIf="f.confirmPassword?.errors?.minlength">Password must be at least 7 characters.</div>
            </div>
            <input class="form-control" type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm password">
        </div>

        <div class="text-center mt-5">
            <button class="red-btn" type="submit">Register</button>
        </div>
    </form>
</div>