<div class="row mb-5">
    <div class="col text-center">
        <h1>{{title}}</h1>
    </div>
</div>

<div class="row formBox">
    <div class="col">
        <p><span class="text-danger">* </span>required</p>
        <form [formGroup]='listForm' (ngSubmit)="onSubmit()" class="d-inline">
            <!-- name -->
            <div class="form-group">
                <label class="font-weight-bold" for="name">Name<span class="text-danger">*</span></label>
                <div *ngIf="f.name?.invalid && (f.name?.dirty || submitted)" class="alert alert-danger">
                    <div *ngIf="f.name?.errors?.['required']">
                        name is required.
                    </div>
                </div>
                <input class="form-control" type="text" placeholder="name" id="name" formControlName="name">
            </div>
           
            <!-- description -->
            <div class="form-group">
                <label class="font-weight-bold" for="description">description<span class="text-danger">*</span></label>
                <div *ngIf="f.description?.invalid && (f.description?.dirty || submitted)" class="alert alert-danger">
                    <div *ngIf="f.description?.errors?.['required']">
                         Description is required.
                    </div>
                </div>
                <textarea class="form-control" placeholder="description" id="description" cols="30" rows="10" formControlName="description"></textarea>
            </div>
            
            <button class="red-btn mt-5 p-1" type="submit">Save</button>
    
        </form>
    
        <div class="d-inline float-right mt-5">
            <button *ngIf="list" class="red-btn mr-5 p-1" (click)="onDelete()">Remove</button>
            <button routerLink=".." class="red-inverse-btn text-dark p-1">Back</button>
        </div>
    </div>
</div>
