<div class="container text-center">
    <div class="row">
        <div class="col">
            <app-alert></app-alert>
            <h1>User list</h1>
            <app-spinner *ngIf="!users"></app-spinner>
            <div class="text-right" *ngIf="users">
                <input type="text" class="form-control searchbutton d-inline-block" placeholder="Search..." (keyup)="onSearch($event)">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4" *ngIf="recommendedFriends && recommendedFriends?.length != 0">
            <table class="table table-dark table-striped mt-4">
                <thead>
                    <th>Users u may know</th>
                </thead>
                <tbody>
                    <tr *ngFor="let friend of recommendedFriends">
                        <td><a [routerLink]="['/users', friend?._id]">{{friend?.username}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-dark table-striped mt-4" *ngIf="users">
                <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users" class="table-row">
                        <td>{{user._id}}</td>
                        <td><a [routerLink]="['/users', user._id]">{{user.username}}</a></td>
                        <td>{{user.email}}</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="users?.length == 0">
                <h1>No users available</h1>
            </div>
        </div>
    </div>    
</div>
