a {
    color: #e50914;
    text-decoration: underline;
}

.searchbutton {
    max-width: 200px;
    border-radius: 15px;
    border: red 2px solid;
    background-color: transparent;
    color: white;
    display: inline-block;
}
