<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md">
        <img class="mb-2" src="assets/images/Icon-transparant.png" alt="Brandimg" width="30" height="30">
        <small class="d-block mb-3 text-muted">© 2021-2025</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" >Cool stuff</a></li>
          <li><a class="text-muted" >Random feature</a></li>
          <li><a class="text-muted" >Team feature</a></li>
          <li><a class="text-muted" >Stuff for developers</a></li>
          <li><a class="text-muted" >Another one</a></li>
          <li><a class="text-muted" >Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" >Resource</a></li>
          <li><a class="text-muted" >Resource name</a></li>
          <li><a class="text-muted" >Another resource</a></li>
          <li><a class="text-muted" >Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" >Team</a></li>
          <li><a class="text-muted" >Locations</a></li>
          <li><a class="text-muted" >Privacy</a></li>
          <li><a class="text-muted" >Terms</a></li>
        </ul>
      </div>
    </div>
</footer>