<div class="row">
    <div class="col">
        <div class="text-center">
            <div class="text-left">
                <h1>Friend Requests</h1>
            </div>
            <table class="table table-striped table-dark">
                <thead>
                    <th>Name</th>
                </thead>
                <tbody>
                    <tr *ngFor="let user of requests">
                        <td><a [routerLink]="['/users/', user?._id]">{{user?.username}}</a></td>
                        <td>
                            <button class="red-btn" (click)="onFriendRequestAccept(user!._id)">Accept</button>
                        </td>
                        <td>
                            <button class="red-btn" (click)="onFriendRequestDecline(user!._id)">Decline</button>
                        </td>
                    </tr>
                    <tr *ngIf="requests?.length == 0">
                        <td>No friend request yet</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
            <div class="text-left">
                <h1>Friends</h1>
            </div>
            <table class="table table-striped table-dark">
                <thead>
                    <th>Name</th>
                </thead>
                <tbody>
                    <tr *ngFor="let user of friends">
                        <td><a [routerLink]="['/users/', user?._id]">{{user?.username}}</a></td>
                        <td>
                            <button class="red-btn" (click)="onRemoveFriend(user!._id)">Remove</button>
                        </td>
                    </tr>
                    <tr *ngIf="friends?.length == 0">
                        <td>No friends yet</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


