.gamecontainer {
    border-radius: 20px;
    padding: 35px;
    background: rgb(33,33,33);
    background: linear-gradient(135deg, rgba(33,33,33,0) 52%, rgba(0,0,0,1) 98%);
}

.gametitle {
    margin-bottom: 2rem;
}
.banner {
    width: 324px;
    height: 151px;
    margin-bottom: 10px;
}

.category {
    background-color: #e50914;
    border-radius: 5px;
    padding: 0 4px 0 4px;
    font-weight: bold;
    margin-right: 10px;
}

.game-description {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.limitTextHeight {
    height: 20px;
    overflow: hidden;
}

.action-buttons > * {
    margin-right: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
}

.pricetag {
    margin-top: 2rem;
}

.review > * {
    margin-top: 4rem;
    background-color: rgb(68, 68, 68);
    padding: 20px;
}

hr {
    background-color: white;
}


.like-counter {
    margin-left: 10px;
}

.content {
    word-wrap: break-word;
}

.like svg:hover {
    stroke: cyan
}
