<div class="container">
    <div class="gamecontainer">
        <app-alert></app-alert>
        <div class="row">
            <div class="col">
                <h1 class="gametitle d-inline-block">{{game?.name}}</h1>
                <button *ngIf="game?.createdBy && currentuser && authService.userMayEdit(game?.createdBy!._id!.toString()) | async" class="red-btn ml-5 p-1 float-right" routerLink="edit">Edit game</button>
            </div>
        </div>
        <div class="row gx-4">
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" [src]="game?.trailer_url | safe: 'url'" allowfullscreen></iframe>
                </div>
                <p class="pricetag">Price: €{{game?.price}}</p>
                <div class="action-buttons" *ngIf="currentuser?._id">
                    <button class="red-btn" (click)="onPurchase()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                        Direct purchase
                    </button>

                    <div ngbDropdown class="d-inline-block">
                        <button class="red-btn p-1" id="dropdownBasic1" ngbDropdownToggle>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>
                            Add to list
                        </button>
  
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button *ngIf="userLists?.length == 0" [routerLink]="['/users', currentuser?._id , 'lists', 'create']" ngbDropdownItem>Create list...</button>
                          <button *ngFor="let list of userLists" ngbDropdownItem (click)="onAddToList(list?._id?.toString())">{{list?.name}}</button>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col">
                <img [src]="game?.banner" alt="banner" class="banner" *ngIf="game?.banner">
                <img src="assets/images/game.jpg" alt="banner" class="banner" *ngIf="!game?.banner">

                <p>{{game?.short_description}}</p>
                <table class="table table-borderless text-white">
                    <tbody>
                        <tr>
                            <th>Release Date:</th>
                            <td>{{game?.release_date | date:'mediumDate'}}</td>
                        </tr>
                        <tr>
                            <th>Publisher:</th>
                            <td>{{game?.publisher}}</td>
                        </tr>
                        <tr *ngIf="game?.createdBy?.username">
                            <th>Created by:</th>
                            <td>{{game?.createdBy?.username}}</td>
                        </tr>
                        <tr>
                            <th>Category:</th>
                            <td>
                                <span class="category">{{game?.category}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row game-description">
        <div class="col">
            <h2>About the game</h2>
            <p class="limitTextHeight" [ngStyle]="{ 'height' : isReadMore ? 'auto' : '20px', 'overflow' : isReadMore ? 'visable' : 'hidden'}">
                {{game?.long_description}}
            </p>

            <div class="text-center">
                <button class="red-btn" (click)="showText()">{{ isReadMore ? 'Read More' : 'Hide'}}</button> 
            </div>
        </div>
    </div>
    
    <div class="row mb-5">
        <div class="col">
            <h2>Reviews</h2>
            <div class="text-center mt-5">
                <button *ngIf="currentuser?._id" class="red-btn" routerLink="review/create">Add review</button>
            </div>
            <!-- review -->
            <div *ngIf="game?.reviews?.length == 0" class="text-center mt-5">
                <h1>No reviews yet</h1>
            </div>
            <div class="row justify-content-center review" *ngFor="let review of game?.reviews">
                <div class="col-3">
                    <img [src]="review?.user?.profilePicture" alt="Profile picture" class="sm-picture d-inline-block" *ngIf="review?.user?.profilePicture">
                    <img src="assets/images/profilePicture.jpg" alt="Profile picture" class="sm-picture d-inline-block" *ngIf="!review?.user?.profilePicture">
                    <h3 class="d-inline-block ml-2">{{review?.user?.username}}</h3>
                    <button *ngIf="review && authService.userMayEdit(review!.user!._id!.toString()) | async" class="red-btn d-block mt-4" [routerLink]="['review', review?._id, 'edit']">Edit review</button>
                </div>
                <div class="col-6">
                    <h4>Rating: {{review?.rating}}</h4>
                    <p class="font-italic">Placed on: {{review?.date | date}}</p>
                    <h3>{{review?.title}}</h3>
                    <p class="content">{{review?.content}}</p>
                    <hr>
                    <div *ngIf="currentuser?._id && review?.likes?.includes(currentuser!._id!.toString()); else NoLike" class="like">
                        <svg (click)="onDislike(review)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="lightgreen" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                        <span class="like-counter">{{review?.likes?.length}}</span>
                    </div>
                    <ng-template #NoLike>
                        <div class="like">
                            <svg (click)="onLike(review)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                            <span class="like-counter">{{review?.likes?.length}}</span>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
