.btn-link { color: rgba(255,255,255,.5); text-decoration: none; }
.btn-link.focus, .btn-link:focus, .btn-link.hover, .btn-link:hover { color: rgba(255,255,255,.75); text-decoration: none; box-shadow: none; }
nav { 
    background-color: black;
}
.login-btn {
    color: #fff;
    background-color: #e50914;
    border-color: #e50914;

    display: inline-block;
    font-weight: bold;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.50rem;
    padding: 0 2rem 0 2rem;
}
li {
    padding: 0 25px 0 25px;
}