<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <a
        class="navbar-brand"
        routerLink="/"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="assets/images/Logo-transparant.png" width="194" height="51" alt="GameWatcherLogo">
        </a
      >
      <button
        class="navbar-toggler hidden-sm-up"
        type="button"
        (click)="isNavbarCollapsed = !isNavbarCollapsed"
        data-target="#navbarsDefault"
        aria-controls="navbarsDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto">
          <!-- Games dropdown for creators -->
          <li *ngIf="loggedInUser && loggedInUser.role == 'creator'; else GameNav" class="nav-item dropdown">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-link" id="gamesmenu" ngbDropdownToggle>Games</button>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="gamesmenu">
                <button 
                  class="dropdown-item" 
                  routerLink="/" 
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}">
                  Overview
                </button>
                <button 
                  class="dropdown-item" 
                  routerLink="games/create" 
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}">
                  Create game
                </button>
              </div>
            </div>
          </li>
          <!-- Games for regular visitors -->
          <ng-template #GameNav>
            <li class="nav-item">
              <a
              class="nav-link"
              routerLink="/"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }">
              Games</a>
            </li>
          </ng-template>

          <!-- Article dropdown for creators -->
          <li *ngIf="loggedInUser && loggedInUser.role == 'creator'; else ArticleNav" class="nav-item dropdown">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-link" id="articlesmenu" ngbDropdownToggle>Articles</button>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="articlesmenu">
                <button
                  id="articleOverview"
                  class="dropdown-item" 
                  routerLink="articles" 
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}">
                  Overview
                </button>
                <button 
                  class="dropdown-item" 
                  routerLink="articles/create" 
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}">
                  Create article
                </button>
              </div>
            </div>
          </li>
          <!-- Articles for regular visitors -->
          <ng-template #ArticleNav>
            <li class="nav-item">
              <a
              class="nav-link"
              routerLink="articles"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }">
              Articles</a>
            </li>
          </ng-template>

          <!-- User overview for logged in users -->
          <li *ngIf="loggedInUser" class="nav-item">
            <a
              class="nav-link"
              routerLink="users"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              >User overview</a
            >
          </li>

          <!-- About page -->
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="about"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              >About us</a
            >
          </li>
        </ul>

        <!-- Login button -->
        <button *ngIf="!loggedInUser" class="login-btn" routerLink="/login">Sign in</button>
        
        <!-- User profile -->
        <ul *ngIf="loggedInUser" class="navbar nav">
          <li class="nav-item dropdown">
            <div ngbDropdown class="d-inline-block">
              <img [src]="loggedInUser?.profilePicture" alt="Profile picture" class="sm-picture" *ngIf="loggedInUser?.profilePicture">
              <img src="assets/images/profilePicture.jpg" alt="Profile picture" class="sm-picture" *ngIf="!loggedInUser?.profilePicture">
              <button class="btn btn-link" id="user" ngbDropdownToggle>{{loggedInUser?.username}}</button>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="articlesmenu">
                <button 
                  class="dropdown-item" 
                  [routerLink]="['/users/', loggedInUser?._id]" 
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}">
                  My profile
                </button>
                <button 
                  class="dropdown-item" 
                  routerLink="/" 
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}"
                  (click)="logout()">
                  Logout
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

