<div class="row">
    <div class="col-sm-6 col-md-8 col-lg-10">
      <h1 id="aboutTitle">Over deze applicatie</h1>
      <p>
        Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
        Breda. 
      <h3>Game Watchers</h3>
      <p>
        De website Game Watchers is een online game platform, waarbij je als gebruiker allerlei informatie over games kunt opzoeken en bekijken.
        <br>
        Als gebruiker kun je registreren als customer of creator. Creators kunnen games en artikelen aanmaken en Customers kunnen deze games en artikelen bekijken.
        <br>
        Customers kunnen verder ook games kopen, lijsten aanmaken en een review plaatsen bij een game.
        <br><br>
        Alle features op een rij:
      </p>
      <ul>
        <li>Zoek door verschillende games!</li>
        <li>Kom meer te weten over games!</li>
        <li>Voeg games toe aan jou lijst!</li>
        <li>Laat een recentie achter op een game!</li>
        <li>Koop de nieuwste games!</li>
        <li>Blijf op de hoogte van de laatste nieuwtjes</li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <div class="card primary-bg">
        <div class="d-flex justify-content-center align-items-center">
          <img
            src="assets/images/Propedeuse.png"
            class="card-img-top rounded-circle profile-pic"
            alt="..."
          />
        </div>
        <div class="card-body primary-bg text-center">
          <h5 class="card-title">Qiang loozen</h5>
          <p class="card-text">Studentnummer: 2168151</p>
        </div>
      </div>
    </div>
</div>
  
<h3>Entiteiten</h3>
<div class="row">
    <div class="col-sm-12 col-md">
        <p>User</p>
        <ul>
            <li>username: String</li>
            <li>email: String</li>
            <li>password: String</li>
            <li>birthdate: Date</li>
            <li>role: String</li>
            <li>lists: List[]</li>
            <li>games: Game[]</li>
            <li>profilePicture: String</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md">
        <p>Game</p>
        <ul>
            <li>name: String</li>
            <li>price: Number</li>
            <li>short_description: String</li>
            <li>long_description: String</li>
            <li>release_date: Date</li>
            <li>trailer_url: String</li>
            <li>reviews: Review[]</li>
            <li>categories: Array</li>
            <li>publisher: String</li>
            <li>createdBy: User</li>
            <li>banner: String</li>

        </ul>
    </div>
    <div class="col-sm-12 col-md">
        <p>Game_Review</p>
        <ul>
            <li>user: User</li>
            <li>title: String</li>
            <li>content: String</li>
            <li>rating: Number</li>
            <li>likes: String[]</li>
            <li>date: Date</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md">
        <p>Game_List</p>
        <ul>
            <li>name: String</li>
            <li>description: String</li>
            <li>date: Date</li>
            <li>game: Game[]</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md">
      <p>Article</p>
      <ul>
        <li>title: String</li>
        <li>subtitle: String</li>
        <li>content: String</li>
        <li>date : Date</li>
        <li>user: User</li>
        <li>categories: String</li>
        <li>banner: String</li>

      </ul>
    </div>
</div>

<div class="row">
  <div class="col">
      <h3>Datamodel</h3>
      <img src="assets/images/datamodel.png" alt="Datamodel" />
  </div>
</div>
  
<div class="row">
    <div class="col-12">
      <h3>Use Cases</h3>
      <p>De applicatie biedt de volgende functionaliteit.</p>
      <div *ngFor="let UC of useCases">
        <app-usecases [useCase]="UC"></app-usecases>
      </div>
    </div>
</div>
  