.banner {
    height: 400px;
    width: 800px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
}

.content {
    margin-top: 2rem;
    padding-left:  10rem;
    padding-right: 10rem;
    word-wrap: break-word;
}