<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center" *ngIf="!article">
                <span class="spinner-border spinner-border-lg align center"></span>
            </div>
            <!-- Header -->
            <div class="text-center">
                <h1>{{article?.title}}</h1>
                <h3>{{article?.subtitle}}</h3>
                <img class="banner" [src]="article.banner" alt="Banner" *ngIf="article?.banner">
                <img class="banner" src="assets/images/article.jpg" alt="Banner" *ngIf="!article?.banner">
            </div>
            
            <!-- content -->
            <div class="content">
                <div class="d-flex justify-content-between">
                    <p class="color-red mt-2 d-inline">{{article?.date | date:'medium'}}</p>
                    <button id="editBtn" *ngIf="article?.user && authService.userMayEdit(article!.user!._id!.toString()) | async" routerLink="edit" class="red-btn">Edit</button>
                </div>
                <span> Author: {{article?.user?.username}}</span>
                <p class="mt-4">{{article?.content}}</p>
            </div>
        </div>
    </div>
</div>