<div class="row mb-5">
    <div class="col text-center">
        <h1>{{title}}</h1>
    </div>
</div>

<div class="row formBox">
    <div class="col">
        <p><span class="text-danger">* </span>required</p>
        <form [formGroup]='reviewForm' (ngSubmit)="onSubmit()" class="d-inline">

            <!-- title -->
            <div class="form-group">
                <label class="font-weight-bold" for="title">Title<span class="text-danger">*</span></label>
                <div *ngIf="f.title?.invalid && (f.title?.dirty || submitted)" class="alert alert-danger">
                    <div *ngIf="f.title?.errors?.['required']">
                        Title is required.
                    </div>
                </div>
                <input class="form-control" type="text" placeholder="Title" id="title" formControlName="title">
            </div>

            <!-- content -->
            <div class="form-group">
                <label class="font-weight-bold" for="content">Content<span class="text-danger">*</span></label>
                <div *ngIf="f.content?.invalid && (f.content?.dirty || submitted)" class="alert alert-danger">
                    <div *ngIf="f.content?.errors?.['required']">
                        Content is required.
                    </div>
                </div>
                <textarea class="form-control" placeholder="Content" id="content" cols="30" rows="10" formControlName="content"></textarea>
            </div>

            <!-- rating -->
            <div class="form-group">
                <label class="font-weight-bold" for="rating">Rating<span class="text-danger">*</span></label>
                <div *ngIf="f.rating?.invalid && (f.rating?.dirty || submitted)" class="alert alert-danger">
                    <div *ngIf="f.rating?.errors?.['required']">
                        Rating is required.
                    </div>
                    <div *ngIf="f.rating?.errors?.['min']">
                        Rating cannot be negative.
                    </div>
                    <div *ngIf="f.rating?.errors?.['max']">
                        Rating cannot be more than 5
                    </div>
                </div>
                <input class="form-control" type="number" placeholder="Rating: 0-5" id="rating" formControlName="rating">
            </div>

            <button class="red-btn mt-5 p-1" type="submit">Save</button>

        </form>
        <div class="d-inline float-right mt-5">
            <button *ngIf="review" class="red-btn mr-5 p-1" (click)="onDelete()">Remove</button>
            <button routerLink="../../" class="red-inverse-btn text-dark p-1" *ngIf="!review">Back</button>
            <button routerLink="../../../" class="red-inverse-btn text-dark p-1" *ngIf="review">Back</button>
        </div>
    </div>
</div>
