<div class="row">
    <div class="col text-center">
        <h1>{{list?.name}}</h1>
        <P>Description: {{list?.description}}</P>
        <p>Created at: {{list?.date | date:'mediumDate'}}</p>
        <button *ngIf="userDetails && authService.userMayEdit(userDetails!._id!.toString()) | async" routerLink="edit" class="red-btn">Edit</button>
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        <div *ngIf="list?.games?.length == 0" class="text-center">
            <h1>No games added yet</h1>
        </div>
        <div class="card text-white bg-dark" *ngFor="let game of list?.games">
            <div *ngIf="userDetails && authService.userMayEdit(userDetails!._id!.toString()) | async" class="card-header text-right">
                <button class="red-btn" (click)="onRemoveGame(game?._id)">X</button>
            </div>
            <a [routerLink]="['/games', game?._id]">
                <img [src]="game?.banner" alt="alt" class="card-img-top" *ngIf="game?.banner">
                <img src="assets/images/game.jpg" alt="alt" class="card-img-top" *ngIf="!game?.banner">
                <div class="card-body text-center">
                    <h5 class="card-title">{{game?.name}}</h5>
                </div>
            </a>

        </div>
    </div>
</div>