.card {
    max-width: 20rem;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 5rem;
}

.card-body {
    padding: 0;
    padding-top: 10px;
    background-color: rgba(65, 65, 65, 0.089);
}

.card:hover {
    display: relative;
    bottom: 5px;
    box-shadow: 2px 8px 21px -2px rgba(0, 0, 0, 0.75);
}

.card-body {
    color: white;
}

.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}