<div class="loginBox">
    <div class="row">
        <div class="col">
            <h1 class="mb-5">Update user ({{user?.username}})</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="d-inline">
                <!-- Name -->
                <div class="form-group">
                    <label class="font-weight-bold" for="username">Username<span class="text-danger">*</span></label>
                    <div *ngIf="f.username?.invalid && (f.username?.dirty || submitted)" class="alert alert-danger">
                        <div *ngIf="f.username?.errors?.['required']">
                            Username is required.
                        </div>
                    </div>
                    <input class="form-control" type="text" placeholder="Username" id="username" formControlName="username">
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label class="font-weight-bold" for="email">E-mail<span class="text-danger">*</span></label>
                    <div *ngIf="f.email?.invalid && (f.email?.dirty || submitted)" class="alert alert-danger">
                        <div *ngIf="f.email?.errors?.['required']">
                            Email is required.
                        </div>
                        <div *ngIf="f.email?.errors?.['pattern']">
                            Email is invalid.
                        </div>
                        <div *ngIf="f.email?.errors?.['alreadyExist']">
                            Email already exist.
                        </div>
                    </div>
                    <input class="form-control" type="email" placeholder="example@email.com" id="email" formControlName="email">
                </div>

                <!-- Birthdate -->

                <div class="form-group">
                    <label class="font-weight-bold" for="birthdate">Birthdate</label>
                    <div *ngIf="f.birthdate?.invalid && (f.birthdate?.dirty || submitted)" class="alert alert-danger">
                        <div *ngIf="f.birthdate?.errors?.['required']">
                            Birthdate is required.
                        </div>
                        <div *ngIf="f.birthdate?.errors?.['futureDate']">
                            Birthdate has to be in the past.
                        </div>
                    </div>
                    <input class="form-control" type="date" id="birthdate" formControlName="birthdate">
                </div>

                <!-- Profile picture -->
                <div class="form-group">
                    <label class="font-weight-bold" for="profilePicture">Profile picture (URL)</label>
                    <div>
                      <i>Info: check <a href="https://randomavatar.com/" target="_blank">randomavatar.com</a> to grab an avatar url.</i>  
                    </div>
                    <input class="form-control" type="url" placeholder="Online picture url" id="profilePicture" formControlName="profilePicture">
                </div>

                <button class="red-btn mt-5 p-1" type="submit">Save</button>

            </form>

            <div class="d-inline float-right mt-5">
                <button class="red-btn mr-2 p-1" (click)="onDelete()">Remove</button>
                <button class="red-inverse-btn p-1" routerLink="..">Back</button>
            </div>
        </div>
    </div>
</div>

