<div class="row">
    <div class="col">
        <app-alert></app-alert>
        <div class="row">
            <div class="col">
                <img [src]="user?.profilePicture" alt="Profile picture" class="md-picture" *ngIf="user?.profilePicture">
                <img src="assets/images/profilePicture.jpg" alt="Profile picture" class="md-picture" *ngIf="!user?.profilePicture">
                <h1 class="d-inline ml-5">{{user?.username}}</h1>
                <div class="mt-3">
                    <p><span class="font-weight-bold">Email: </span> {{user?.email}}</p>
                    <p><span class="font-weight-bold">Birthdate: </span> {{user?.birthdate | date:'longDate'}}</p>
                    <p><span class="font-weight-bold">Role: </span> {{user?.role}}</p>
                </div>
            </div>
            <div class="col" *ngIf="!user">
                <app-spinner></app-spinner>
            </div>
        </div>
        <div class="detail-container">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="col-2">
        <button *ngIf="currentUser?._id == user?._id" routerLink="edit" class="red-btn p-1 d-block">Edit profile</button>
        <button *ngIf="currentUser?._id != user?._id && !isFriend && !pendingRequest" class="red-btn mt-5 p-1" (click)="onFriendRequest()">Add as friend</button>
        <button *ngIf="currentUser?._id != user?._id && !isFriend && pendingRequest" class="red-btn mt-5 p-1" disabled >Pending request..</button>
        <div *ngIf="currentUser?._id != user?._id && isFriend !pendingRequest" class="friend-tag mt-5 p-1">Friends</div>
        
        <!-- side nav -->
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills side-bar" orientation="vertical">
            <li ngbNavItem="games">
              <a ngbNavLink routerLink="games">Owned Games</a>
            </li>
            <li *ngIf="currentUser?._id == user?._id" ngbNavItem="friends">
              <a ngbNavLink routerLink="friends">Friends</a>
            </li>
            <li ngbNavItem="lists">
              <a ngbNavLink routerLink="lists">Lists</a>
            </li>
        </ul>
    </div>
</div>


