.nav-pills .nav-link.active {
    background-color: #e50914;
}

a {
    color: white;
}

.side-bar {
    margin-top: 10rem;
}

.detail-container {
    margin-top: 6rem;
}

.friend-tag {
    background-color: green;
    display: inline-block;
    border-radius: 10px;
}
