.card {
    color: white;
    max-width: 20rem;
    background-color: inherit;
    border: none;
}

.category {
    background-color: #e50914;
    padding: 0 4px 0 4px;
    font-weight: bold;
    margin-right: 20px;
}

.card:hover {
    display: relative;
    bottom: 5px;
    box-shadow: 2px 8px 21px -2px rgba(0, 0, 0, 0.75);
    text-decoration: underline;
}

.searchbutton {
    max-width: 200px;
    border-radius: 15px;
    border: red 2px solid;
    background-color: transparent;
    color: white;
    display: inline-block;
}

.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}