<div class="container">
    <div class="row">
        <div class="col text-center">
            <app-alert></app-alert>
            <h1>Articles</h1>
        </div>
    </div>

    <div class="row article-container mt-5">
        <div class="col-12 text-center" *ngIf="!articles">
            <app-spinner></app-spinner>
        </div>
        <div class="col-12 text-center" *ngIf="articles?.length == 0">
            <h2>No articles available</h2>
        </div>
        <div class="col-12 text-center" *ngIf="articles && articles?.length != 0">
            <input type="text" class="form-control searchbutton d-inline-block" placeholder="Search..." (keyup)="onSearch($event)">
        </div>
        <div class="col-6 d-flex justify-content-center wrapper" *ngFor="let article of articles">
            <a [routerLink]="['/articles', article._id]" class="mt-5 listItem">
                <div class="card">
                    <img class="card-img-top" [src]="article.banner" alt="Banner" *ngIf="article?.banner">
                    <img class="card-img-top" src="assets/images/article.jpg" alt="Banner" *ngIf="!article?.banner">
                    <div class="card-body">
                      <span class="category">{{article.category}}</span>
                      <span>{{article.date | date:'medium'}}</span>
                      <h2 class="card-title">{{article.title}}</h2>
                      <p>{{article.subtitle}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>