.list-container {
    background-color: rgb(116, 115, 115);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: white;
}

.list-container:hover {
    text-decoration: underline;
    text-decoration-color: #e50914;
}

.list-container:hover .arrow svg {
    stroke: #e50914;
}

.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}