<div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
        <div class="row">
            <div class="col d-flex justify-content-between">
                <h1>lists</h1>
                <button *ngIf="userDetails && authService.userMayEdit(userDetails!._id!.toString()) | async" routerLink="create" class="red-btn ml-4">Add list</button>
            </div>
        </div>

        <div *ngIf="userDetails?.lists?.length == 0"><h1>No list yet</h1></div>

        <a [routerLink]="list?._id?.toString()" *ngFor="let list of userDetails?.lists">
            <div class="row list-container">
                <div class="col d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h2>{{list?.name}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>{{list?.description}}</p>
                        </div>
                    </div>
                </div>
                
                <div class="col d-flex align-items-center justify-content-end arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </div>
            </div>
        </a>
    </div>
</div>


