/* You can add global styles to this file, and also import other style files */
body {
    background-color: #212121; 
    color: #fff;
}

/* Colors and typography*/
.primary-bg{
    background-color: #212121;
}

.secondary-bg {
    background-color: #424242;
}

.color-red {
    color: #e50914;
}

.shadow{
    background-color: #303030;
}

/* Utilities */
.red-btn {
    color: #fff;
    background-color: #e50914;
    border-color: #e50914;

    display: inline-block;
    font-weight: bold;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.50rem;
}

.red-btn:disabled {
    background-color: grey;
    border: grey;
}

.red-inverse-btn {
    color: #fff;
    background-color: transparent;
    display: inline-block;
    font-weight: bold;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid#e50914;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.50rem;
}

/* login and register */
.loginBox {
    width: 500px;
    height: auto;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
}

.custom-anchor {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    display: block;
    margin-top: 2rem;
}

/* Input validation */

.form-control.ng-valid{
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
border-left: 5px solid #a94442; /* red */
}

.sm-picture {
    object-fit: cover;
    height: 30px;
    width: 30px;
}

.md-picture {
    object-fit: cover;
    height: 100px;
    width: 100px;
}


