<div class="row mb-5">
    <div class="col text-center">
        <h1>{{title}}</h1>
    </div>
</div>

<div class="row formBox">
    <div class="col">
        <p><span class="text-danger">* </span>required</p>
        <form [formGroup]='gameForm' (ngSubmit)="onSubmit()" class="d-inline">

            <!-- name -->
            <div class="form-group">
                <label class="font-weight-bold" for="name">Name<span class="text-danger">*</span></label>
                <div *ngIf="f.name?.invalid && (f.name?.dirty || submitted)" class="alert alert-danger">
                    <div *ngIf="f.name?.errors?.['required']">
                        name is required.
                    </div>
                </div>
                <input class="form-control" type="text" placeholder="name" id="name" formControlName="name">
            </div>

            <!-- price -->
            <div class="form-group">
                <label class="font-weight-bold" for="price">Price<span class="text-danger">*</span></label>
                <div *ngIf="f.price?.invalid && (f.price?.dirty || submitted)" class="alert alert-danger">
                    <div *ngIf="f.price?.errors?.['required']">
                        Price is required.
                    </div>
                </div>
                <input class="form-control" type="number" placeholder="price" id="price" formControlName="price">
            </div>

            <!-- short_description -->
            <div class="form-group">
                <label class="font-weight-bold" for="short_description">Short description<span class="text-danger">*</span></label>
                <div *ngIf="f.short_description?.invalid && (f.short_description?.dirty || submitted)" class="alert alert-danger">
                    <div *ngIf="f.short_description?.errors?.['required']">
                        Short description is required.
                    </div>
                </div>
                <textarea class="form-control" placeholder="short description" id="short_description" cols="30" rows="10" formControlName="short_description"></textarea>
            </div>

            <!-- long_description -->
            <div class="form-group">
                <label class="font-weight-bold" for="long_description">Long description<span class="text-danger">*</span></label>
                <div *ngIf="f.long_description?.invalid && (f.long_description?.dirty || submitted)" class="alert alert-danger">
                    <div *ngIf="f.long_description?.errors?.['required']">
                        Long description is required.
                    </div>
                </div>
                <textarea class="form-control" placeholder="long description" id="long_description" cols="30" rows="10" formControlName="long_description"></textarea>
            </div>

            <!-- release_date -->
            <div class="form-group">
                <label class="font-weight-bold" for="release_date">Release Date<span class="text-danger">*</span></label>
                <div *ngIf="f.release_date?.invalid && (f.release_date?.dirty || submitted)" class="alert alert-danger">
                    <div *ngIf="f.release_date?.errors?.['required']">
                        Release date is required.
                    </div>
                </div>
                <input class="form-control" type="date" id="release_date" formControlName="release_date">
            </div>

            <!-- trailer_url -->
            <div class="form-group">
                <label class="font-weight-bold" for="trailer_url">Trailer url (Youtube embed link)<span class="text-danger">*</span></label>
                <p>You can manually set the youtube video ID after ../embed/</p>
                <div *ngIf="f.trailer_url?.invalid && (f.trailer_url?.dirty || submitted)" class="alert alert-danger">
                    <div *ngIf="f.trailer_url?.errors?.['required']">
                        Trailer url is required.
                    </div>
                </div>
                <input class="form-control" type="text" placeholder="https://www.youtube.com/embed/<youtube_video_id>" id="trailer_url" formControlName="trailer_url">
            </div>

            <!-- banner -->
            <div class="form-group">
                <label class="font-weight-bold" for="banner">Banner (card picture) URL</label>
                <div>
                    <i>Tip: it's recommended to add a game banner (<a href="https://wall.alphacoders.com/by_category.php?id=32&name=Video+Game+Wallpapers" target="_blank">Game wallpapers</a>)</i>
                </div>
                <input class="form-control" type="text" placeholder="Url, recommended 1920x1080" id="banner" formControlName="banner">
            </div>

            <!-- publisher -->
            <div class="form-group">
                <label class="font-weight-bold" for="publisher">Publisher<span class="text-danger">*</span></label>
                <div *ngIf="f.publisher?.invalid && (f.publisher?.dirty || submitted)" class="alert alert-danger">
                    <div *ngIf="f.publisher?.errors?.['required']">
                        Publisher is required.
                    </div>
                </div>
                <input class="form-control" type="text" placeholder="publisher" id="publisher" formControlName="publisher">
            </div>

            <!-- category -->
            <div class="form-group" *ngIf="!game">
                <label class="font-weight-bold" for="category">Category<span class="text-danger">*</span></label>
                <div *ngIf="f.category?.invalid && (f.category?.dirty || submitted)" class="alert alert-danger">
                    <div *ngIf="f.category?.errors?.['required']">
                        Category is required.
                    </div>
                </div>

                <select class="form-control" id="category" formControlName="category">
                    <option *ngFor="let category of gameCategories" [value]="category">{{category}}</option>
                </select>
            </div>



            <button class="red-btn mt-5 p-1" type="submit">Save</button>

        </form>
        <div class="d-inline float-right mt-5">
            <button *ngIf="game" class="red-btn mr-5 p-1" (click)="onDelete()">Remove</button>
            <button routerLink="../" class="red-inverse-btn text-dark p-1" *ngIf="game">Back</button>
            <button routerLink="/" class="red-inverse-btn text-dark p-1" *ngIf="!game">Back</button>
        </div>
    </div>
</div>

